body {
    text-align: center;
}
#board {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    justify-content: center;  
}
.square {
    border: solid 2px black;
    line-height: 120px;
    font-size: 60px;
}
#result {
    font-size: 30px;
    color: rgb(128, 107, 92);
    padding: 18px;
}
button {
    font-size: 50px;
    border-radius: 10px;
    padding: 5px 30px;
}
#playerTurn {
    font-size: 25px;
    color: red;
    font-weight: bold;
    padding: 10px;

}
.square:hover {
    background-color: royalblue;
}